FRONTEND_URL='http://localhost:5173'
DB_FILE_NAME=file:data/database.db
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
COOKIE_DOMAIN=localhost
LOG_LEVEL=debug
